@charset "utf-8";

body {
    background-color:white;
}

nav#top ul {
    display: -webkit-flex;
    display: flex;
    flex-flow: ;
    -webkit-flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 50px;
}

nav#top ul li {
    -webkit-flex: 0 1 80px;
    margin: 10px;
}

nav#top ul li a {
    color: white;
    display: block;
    font-size: 1.2em;
    text-align: center;
    padding: 50% 0%;
}

nav#top ul li a:hover, canvas#top ul li a:active {
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 2px black, 0px 0px 15px white;
}
